@icomoon-font-path: "/content/fonts/trivia/fonts";

@icon-movie: "\e011";
@icon-bargraph: "\e018";
@icon-linegraph: "\e039";
@icon-flag: "\e900";
@icon-flag-fill: "\e901";
@icon-star: "\e902";
@icon-star-fill: "\e903";
@icon-stats: "\e904";
@icon-stats-fill: "\e905";
@icon-trophy: "\e906";
@icon-trophy-fill: "\e907";
@icon-trophy-one: "\e908";
@icon-trophy-one-fill: "\e909";
@icon-trophy-large: "\e90a";
@icon-trophy-large-fill: "\e90b";
@icon-stop-watch: "\e90c";
@icon-stop-watch-fill: "\e90d";
@icon-ribbon: "\e914";
@icon-ribbon-fill: "\e915";
@icon-ribbon-star: "\e910";
@icon-ribbon-star-fill: "\e911";
@icon-medal2: "\e912";
@icon-medal3: "\e913";
@icon-medal-star: "\e90e";
@icon-medal-star-fill: "\e90f";

