@font-root: "/content/fonts";

@font-face {
    font-family: "Ringbearer-Medium";
    src: url("@{font-root}/Ringbearer-Medium/Ringbearer-Medium.ttf.woff") format("woff"),
         url("@{font-root}/Ringbearer-Medium/Ringbearer-Medium.ttf.svg#Ringbearer-Medium") format("svg"),
         url("@{font-root}/Ringbearer-Medium/Ringbearer-Medium.ttf.eot"), url("@font-root/Ringbearer-Medium/Ringbearer-Medium.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    line-height: 1em;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, button {
    margin: 0;
}

a {
    display: block;
}

button {
    background: none;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    font: initial;
    font-family: inherit;
    outline: none;
    padding: 1rem;
    text-transform: uppercase;

    &:hover {
        background: black;
        color: white;
        cursor: pointer;
    }
}

#app {
    display: none;

    &.ready {
        display: block;
    }
}