@font-root: "/content/fonts";

@font-face {
    font-family: "Ringbearer-Medium";
    src: url("@{font-root}/Ringbearer-Medium/Ringbearer-Medium.ttf.woff") format("woff"),
         url("@{font-root}/Ringbearer-Medium/Ringbearer-Medium.ttf.svg#Ringbearer-Medium") format("svg"),
         url("@{font-root}/Ringbearer-Medium/Ringbearer-Medium.ttf.eot"), url("@font-root/Ringbearer-Medium/Ringbearer-Medium.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Ringbearer-Medium";
    margin: 0;
}